services:
  postgres:
    image: postgres:16
    container_name: heelp-ai-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: heelp_ai_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
